<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.nypr.cordova.filelistdownloadplugin"
    version="0.1.0">
    <name>Device</name>
    <description>File List Download Plugin</description>
    <license>Apache 2.0</license>
    <keywords>file,download</keywords>
    <repo>git@git.wnyc.net:mobile/cordova/cordova-plugin-filelistdownload.git</repo>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FileListDownloadPlugin" >
                <param name="android-package" value="org.nypr.cordova.filelistdownloadplugin.FileListDownloadPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/DownloadHandler.java" target-dir="src/org/nypr/cordova/filelistdownloadplugin/" />
        <source-file src="src/android/DownloadMediaFileTask.java" target-dir="src/org/nypr/cordova/filelistdownloadplugin/" />
        <source-file src="src/android/DownloadMediaListTask.java" target-dir="src/org/nypr/cordova/filelistdownloadplugin/" />
        <source-file src="src/android/FileListDownloadPlugin.java" target-dir="src/org/nypr/cordova/filelistdownloadplugin/" />
        <source-file src="src/android/OnDownloadUpdateListener.java" target-dir="src/org/nypr/cordova/filelistdownloadplugin/" />
    </platform>

    <!-- ios -->
    <!--
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Device">
                <param name="ios-package" value="CDVDevice"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVDevice.h" />
        <source-file src="src/ios/CDVDevice.m" />
    </platform>
    -->
</plugin>
