<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.nypr.cordova.filelistdownloadplugin"
    version="0.1.0">
    <name>Device</name>
    <description>File List Download Plugin</description>
    <license>Apache 2.0</license>
    <keywords>file,download</keywords>
    <repo>git@git.wnyc.net:mobile/cordova/cordova-plugin-filelistdownload.git</repo>

    <js-module src="www/filelistdownload.js" name="FileListDownload">
      <clobbers target="filelistdownload"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FileListDownloadPlugin" >
                <param name="android-package" value="org.nypr.cordova.filelistdownloadplugin.FileListDownloadPlugin"/>
            </feature>
        </config-file>

        <source-file src="src/android/DownloadHandler.java" target-dir="src/org/nypr/cordova/filelistdownloadplugin/" />
        <source-file src="src/android/DownloadMediaFileTask.java" target-dir="src/org/nypr/cordova/filelistdownloadplugin/" />
        <source-file src="src/android/DownloadMediaListTask.java" target-dir="src/org/nypr/cordova/filelistdownloadplugin/" />
        <source-file src="src/android/FileListDownloadPlugin.java" target-dir="src/org/nypr/cordova/filelistdownloadplugin/" />
        <source-file src="src/android/OnDownloadUpdateListener.java" target-dir="src/org/nypr/cordova/filelistdownloadplugin/" />
        <source-file src="src/android/Utilities.java" target-dir="src/org/nypr/cordova/filelistdownloadplugin/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FileListDownloadPlugin">
                <param name="ios-package" value="FileListDownloadPlugin" />
            </feature>
        </config-file>

        <dependency id="org.nypr.cordova.nslogger-cocoalumberjack-connector-plugin" url="https://github.com/wnyc/cordova-plugin-nslogger-cocoalumberjack-connector.git" />

        <header-file src="src/ios/FileListDownloadPlugin.h" />
        <header-file src="src/ios/DownloadHandler.h" />
        <header-file src="src/ios/DownloadRequest.h" />
        <header-file src="src/ios/ASIHTTPRequest/ASIAuthenticationDialog.h" />
        <header-file src="src/ios/ASIHTTPRequest/ASICacheDelegate.h" />
        <header-file src="src/ios/ASIHTTPRequest/ASIDataCompressor.h" />
        <header-file src="src/ios/ASIHTTPRequest/ASIDataDecompressor.h" />
        <header-file src="src/ios/ASIHTTPRequest/ASIDownloadCache.h" />
        <header-file src="src/ios/ASIHTTPRequest/ASIFormDataRequest.h" />
        <header-file src="src/ios/ASIHTTPRequest/ASIHTTPRequest.h" />
        <header-file src="src/ios/ASIHTTPRequest/ASIHTTPRequestConfig.h" />
        <header-file src="src/ios/ASIHTTPRequest/ASIHTTPRequestDelegate.h" />
        <header-file src="src/ios/ASIHTTPRequest/ASIInputStream.h" />
        <header-file src="src/ios/ASIHTTPRequest/ASINetworkQueue.h" />
        <header-file src="src/ios/ASIHTTPRequest/ASIProgressDelegate.h" />
        <!-- see explanation below for excluding this file -->
        <!-- <header-file src="src/ios/ASIHTTPRequest/ASIWebPageRequest/ASIWebPageRequest.h" /> -->
        <header-file src="src/ios/ASIHTTPRequest/CloudFiles/ASICloudFilesCDNRequest.h" />
        <header-file src="src/ios/ASIHTTPRequest/CloudFiles/ASICloudFilesContainer.h" />
        <header-file src="src/ios/ASIHTTPRequest/CloudFiles/ASICloudFilesContainerRequest.h" />
        <header-file src="src/ios/ASIHTTPRequest/CloudFiles/ASICloudFilesContainerXMLParserDelegate.h" />
        <header-file src="src/ios/ASIHTTPRequest/CloudFiles/ASICloudFilesObject.h" />
        <header-file src="src/ios/ASIHTTPRequest/CloudFiles/ASICloudFilesObjectRequest.h" />
        <header-file src="src/ios/ASIHTTPRequest/CloudFiles/ASICloudFilesRequest.h" />
        <header-file src="src/ios/ASIHTTPRequest/Reachability/Reachability.h" />
        <header-file src="src/ios/ASIHTTPRequest/S3/ASINSXMLParserCompat.h" />
        <header-file src="src/ios/ASIHTTPRequest/S3/ASIS3Bucket.h" />
        <header-file src="src/ios/ASIHTTPRequest/S3/ASIS3BucketObject.h" />
        <header-file src="src/ios/ASIHTTPRequest/S3/ASIS3BucketRequest.h" />
        <header-file src="src/ios/ASIHTTPRequest/S3/ASIS3ObjectRequest.h" />
        <header-file src="src/ios/ASIHTTPRequest/S3/ASIS3Request.h" />
        <header-file src="src/ios/ASIHTTPRequest/S3/ASIS3ServiceRequest.h" />

        <source-file src="src/ios/FileListDownloadPlugin.m" />
        <source-file src="src/ios/DownloadHandler.m" />
        <source-file src="src/ios/DownloadRequest.m" />
        <source-file src="src/ios/ASIHTTPRequest/ASIAuthenticationDialog.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/ASIDataCompressor.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/ASIDataDecompressor.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/ASIDownloadCache.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/ASIFormDataRequest.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/ASIHTTPRequest.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/ASIInputStream.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/ASINetworkQueue.m" compiler-flags="-fno-objc-arc" />
        <!-- including this file was causing an error - unable to find libxml header files which required manually adding ${SDK_DIR}/usr/include/libxml2 to the header search path -->
        <!-- since this class is not used I am excluding it until I can figure out how to fix the error for the automated build. ideas? -->
        <!-- <source-file src="src/ios/ASIHTTPRequest/ASIWebPageRequest/ASIWebPageRequest.m" compiler-flags="-fno-objc-arc" /> -->
        <source-file src="src/ios/ASIHTTPRequest/CloudFiles/ASICloudFilesCDNRequest.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/CloudFiles/ASICloudFilesContainer.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/CloudFiles/ASICloudFilesContainerRequest.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/CloudFiles/ASICloudFilesContainerXMLParserDelegate.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/CloudFiles/ASICloudFilesObject.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/CloudFiles/ASICloudFilesObjectRequest.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/CloudFiles/ASICloudFilesRequest.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/Reachability/Reachability.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/S3/ASIS3Bucket.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/S3/ASIS3BucketObject.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/S3/ASIS3BucketRequest.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/S3/ASIS3ObjectRequest.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/S3/ASIS3Request.m" compiler-flags="-fno-objc-arc" />
        <source-file src="src/ios/ASIHTTPRequest/S3/ASIS3ServiceRequest.m" compiler-flags="-fno-objc-arc" />

        <framework src="libxml2.dylib" />
        <framework src="libz.dylib" />
        <framework src="CFNetwork.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="MobileCoreServices.framework" />
    </platform>
</plugin>
